*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(starry-night-sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth-image{
    position: relative;
    margin-top: 20%;
}
.car{
    position: absolute;
    margin-top: -100px;
    margin-left: -230px;
}